@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <a href="/Doktor/Index"> <div class="col-md-6 bg-danger" style="height: 100px;">Doktor Girişi</div></a>
    <a href="/Randevu/Index"> <div class="col-md-6 bg-primary" style="height: 100px;">Randevu Al</div></a>

</div>

<div class="row">
    <a href="/Randevu/HastaLogin"> <div class="col-md-6 bg-success" style="height: 100px;">Randevu İptali</div></a>
    <a href="/Randevu/HastaGecmisLogin"> <div class="col-md-6 bg-info" style="height: 100px;">Randevu Geçmişi</div></a>

</div>
<div class="row">
    <a href="/Randevu/Faturalar"> <div class="col-md-12 bg-warning" style="height: 100px;">Fatura</div></a>
</div>