@using Hastane_yazilimi.Models
@model List<FaturaTable>
@{
    ViewBag.Title = "FaturaListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FaturaListesi</h2>


<table class="table table-bordered">
    <tr>
        <th>Randevu No</th>
        <th>Hasta Adı Soyadı</th>
        <th>Tarih</th>
        <th>Açıklama</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.FaturaTutar</td>
            <td>@x.FaturaTarihi</td>
        </tr>
    }
</table>

<td><a href="/" class="btn btn-primary">Ana Sayfaya Dön</a></td>
